#root {
  display: flex;
  justify-content: center;
  min-height: 1000px;
}

.app {
  flex-grow: 1;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4fffe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #add8e6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.menu .link {
  padding: 6px;
}

.menu .link:hover {
  background-color: azure;
  border-radius: 6px;
}

.post {
  background-color: white;
  border: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  border-width: 1px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.post .username {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.post .text {
  font-size: 16px;
  margin-bottom: 20px;
}

.post .createdAt {
  font-size: 12px;
}

.user {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  border-width: 1px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.user .username {
  font-weight: bold;
}
