#root {
  display: flex;
  justify-content: center;
  min-height: 1000px;
}

.app {
  flex-grow: 1;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4fffe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border-radius: 6px;
  background-color: lightblue;
}

.login form {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
  background-color: #c6e8f2;
}

.login .input-container {
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-size: 14px;
}

.login .input-container input {
  border: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  margin-top: 6px;
}

.login button {
  font-family: inherit;
  font-size: 16px;
  padding: 6px;
  margin: 10px 10px;
}

.login .error {
  color: #db0000;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #add8e6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.menu .link {
  padding: 6px;
}

.menu .link:hover {
  background-color: azure;
  border-radius: 6px;
}

.following-followed {
  display: flex;
  gap: 20px;
}

.following-followed div {
  flex: 1;
}

.post {
  background-color: white;
  border: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  border-width: 1px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.post .username {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.post .text {
  font-size: 16px;
  margin-bottom: 20px;
}

.post .createdAt {
  font-size: 12px;
}

.create-post {
  margin-bottom: 20px;
}

.create-post form {
  display: flex;
  flex-direction: column;
}

.create-post .bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}

.create-post .button-group {
  display: flex;
  gap: 10px;
}

.create-post input {
  font-family: inherit;
  padding: 10px;
}

.create-post button {
  font-family: inherit;
  font-size: 16px;
  padding: 6px;
}

.user {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid;
  border-color: #a3a3a3;
  border-radius: 6px;
  border-width: 1px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.user .username {
  font-weight: bold;
}
